@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.background {
  background: #9679B9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: contain;
  min-height: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.additional_cont h2, .additional_cont .points {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.main_container p,
.main_container h1, .modal h1, h1.game_over {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  color: #4F3955;
  font-size: 20px;
  padding: 4% 10% 0;
}

.next_btn {
  color: #62385E;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  width: 30%;
  height: 25%;
  background: #FBEEE7;
  border: 17px solid #62385E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 61px;
  position: relative;
  -webkit-box-shadow: 7.359375px 10px #62385E;
          box-shadow: 7.359375px 10px #62385E;
  cursor: pointer;
}

.main_container {
  background-image: url(../img/background_2_window.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 74.02439%;
  width: 72.85714%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main_container p,
.main_container h1 {
  line-height: 28px;
  margin-bottom: 50px;
}

.main_container h1 {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 45px;
}

.small_next_bth {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #FBEEE7;
  border: 5px solid #62385E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  font-size: 20px;
  width: 24.4856%;
  height: 60px;
  position: absolute;
  bottom: 50px;
  right: 220px;
  -webkit-transition: .3s;
  transition: .3s;
}

.small_next_bth:disabled {
  opacity: .7;
}

.rules_cont {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rules_cont h1 {
  margin: 8% 0 8%;
  padding: 0;
  font-size: 55px;
}

.rules_cont p {
  padding: 0 10% 0 15%;
  margin: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

.rules_cont p:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #EB7289;
  position: absolute;
  left: 130px;
  top: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

hr {
  border: 4px solid #62385E;
  width: 80%;
}

ul {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  font-size: 40px;
  color: #4F3955;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 20px 0 3% 10%;
}

input {
  display: none;
}

.answer_text {
  padding-left: 60px;
  position: relative;
  cursor: pointer;
}

.answer_text:before {
  content: "";
  background: #F1E660;
  border: 8px solid #62385E;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.answer_text::after {
  content: "";
  content: "";
  background: #62385E;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  top: 23px;
  left: 28px;
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.radio_input:checked + .answer_text::after {
  opacity: 1;
}

.additional_cont {
  height: 38.41463%;
  width: 17.85714%;
  background-image: url(../img/small_window.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 70px;
  right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.additional_cont h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 10px 20px;
  color: #62385E;
}

.additional_cont .points {
  text-align: center;
  padding-top: 2px;
  font-size: 20px;
  margin: 10px 0 10px 28px;
  width: 70%;
  height: 50px;
  background: #F1E660;
  border: 8px solid #62385E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 23px;
}

.additional_cont .help {
  margin: 10px 0 10px 19px;
  width: 200px;
  height: 80px;
  background: #EB7289;
  border: 8px solid #62385E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional_cont button {
  background-size: contain;
  height: 50px;
  width: 50px;
  background: #FBEEE7;
  border: 8px solid #62385E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.additional_cont button img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 2px;
}

.modal {
  width: 40%;
  height: 40%;
  background-color: #CD9FD4;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 52px;
  -webkit-box-shadow: 10.359375px -10px #62385e;
          box-shadow: 10.359375px -10px #62385e;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal h1 {
  text-align: center;
  font-size: 35px;
  padding: 0 40px;
}

.modal hr {
  width: 100%;
  border: 4px solid #62385E;
}

.display_modal {
  opacity: 1;
}

.display_modal button {
  width: 40%;
  height: 60px;
  border: 5px solid #62385E;
  font-size: 20px;
}

h1.game_over {
  padding: 0;
  font-size: 40px;
}
/*# sourceMappingURL=style.css.map */